Repository SkillsFundingAgency/das-apply-service, pull requests merged in 2019-08, with the labels that each got.

#232 Apr 580 save provider data
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Domain/Entities/Organisation.cs
  src/SFA.DAS.ApplyService.Domain/Roatp/ApplicationDetails.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CreateOrganisationRequest.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/RoatpCreateOrganisationRequestProfile.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
Labels: RoATP

#237 APR-634 validation allows all company types to proceed if no status present
  src/SFA.DAS.ApplyService.Domain/CompaniesHouse/CompaniesHouseSummary.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/CompaniesHouseValidatorTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Validators/CompaniesHouseValidator.cs
Labels: RoATP, TestInProgress

#238 Apr 635 companies house manual entry required
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
Labels: RoATP, Tested

#239 Apr 633 remove company number prefix check
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
Labels: RoATP, TestInProgress

#234 Apr 596 convert preamble to qna data
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Application.UnitTests/RoatpPreambleQuestionBuilderTests.cs
  src/SFA.DAS.ApplyService.Application/Apply/Roatp/RoatpPreambleQuestionBuilder.cs
  src/SFA.DAS.ApplyService.Domain/Apply/PreambleAnswer.cs
  src/SFA.DAS.ApplyService.Domain/CharityCommission/CharityCommissionSummary.cs
  src/SFA.DAS.ApplyService.Domain/CompaniesHouse/CompaniesHouseSummary.cs
  src/SFA.DAS.ApplyService.Domain/Entities/Organisation.cs
  src/SFA.DAS.ApplyService.Domain/Ukrlp/ProviderDetails.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CompaniesHouse/Company.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CreateOrganisationRequest.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/CompaniesHouseProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/UkrlpProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Ukrlp/ProviderDetails.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Ukrlp/ProviderQueryResponse.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/CharityCommissionProfile.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/RoatpCreateOrganisationRequestProfile.cs
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/TaskList.cshtml
Labels: RoATP, Tested

#245 ON-2196 / ON-2171 - 'what happens next' content
  src/SFA.DAS.ApplyService.Web/Views/Application/Submitted.cshtml
Labels: Requires testing

#243 Apr 544 parent company check
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Application/Apply/Roatp/RoatpTaskListWorkflowHandler.cs
  src/SFA.DAS.ApplyService.Application/SFA.DAS.ApplyService.Application.csproj
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationController.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/TaskListViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/Controls/_Hidden.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/TaskList.cshtml
Labels: RoATP

#250 ON-2171 copy update
  src/SFA.DAS.ApplyService.Web/Views/Application/Submitted.cshtml
Labels: Ready for Release, Tested

#244 Apr 546 parent company details
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Application/Apply/Roatp/RoatpPreambleQuestionBuilder.cs
  src/SFA.DAS.ApplyService.Application/Apply/Roatp/RoatpTaskListWorkflowHandler.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpYourOrganisationApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/wwwroot/stylesheets/application.css
Labels: RoATP, Tested

#247 Apr 576 ico number validation
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Application/Apply/UpdatePageAnswers/UpdatePageAnswersHandler.cs
Labels: RoATP, Tested

#249 Apr 500 enter ico number
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpYourOrganisationApplicationController.cs
Labels: RoATP, Tested

#253 Apr 669 navigation fixes
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/Index.cshtml
Labels: RoATP

#251 Apr 577 provider has no website
  src/RoatpWorkflow.sql
Labels: RoATP

#252 Apr 501 provider has website
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/Controls/_ComplexRadio.cshtml
Labels: RoATP

#240 ON-1905 Removal of structure map di
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/ServiceCollectionExtensions.cs
  src/SFA.DAS.ApplyService.InternalApi/SFA.DAS.ApplyService.InternalApi.csproj
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ServiceCollectionExtensions.cs
  src/SFA.DAS.ApplyService.Web/SFA.DAS.ApplyService.Web.csproj
  src/SFA.DAS.ApplyService.Web/Startup.cs
  src/SFA.DAS.ApplyService.sln
Labels: Requires testing
