Repository SkillsFundingAgency/das-apply-service, pull requests merged in 2019-07, with the labels that each got.

#196 APR-507 exclude lookup for charity numbers from Scotland/Northern Ireland
  src/SFA.DAS.ApplyService.Domain/CharityCommission/CharityCommissionSummary.cs
  src/SFA.DAS.ApplyService.Domain/CompaniesHouse/CompaniesHouseSummary.cs
  src/SFA.DAS.ApplyService.Domain/Entities/Organisation.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CharityCommission/Charity.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CompaniesHouse/Company.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CreateOrganisationRequest.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/ProviderHistoryValidatorTests.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/CharityCommissionProfile.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/CompaniesHouseProfile.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/RoatpCreateOrganisationRequestProfile.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Validators/ProviderHistoryValidator.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/UkprnSearchResultsViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/InvalidCharityFormationHistory.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/InvalidCompanyTradingHistory.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnFound.cshtml
Labels: RoATP

#193 Apr 504 company incorporation date check
  src/SFA.DAS.ApplyService.Web.UnitTests/IncorporationDateValidatorTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Validators/IncorporationDateValidator.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/InvalidCompanyTradingHistory.cshtml
Labels: Do Not Merge

#207 Apr 498 enter ukprn update content
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Domain/Apply/Input.cs
  src/SFA.DAS.ApplyService.Domain/Roatp/ApplicationRoute.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/RoatpProfile.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/UkprnValidatorTests.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/CompaniesHouseProfile.cs
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/UsersController.cs
  src/SFA.DAS.ApplyService.Web/Resources/UkprnValidationMessages.Designer.cs
  src/SFA.DAS.ApplyService.Web/Resources/UkprnValidationMessages.resx
  src/SFA.DAS.ApplyService.Web/SFA.DAS.ApplyService.Web.csproj
  src/SFA.DAS.ApplyService.Web/Validators/UkprnValidator.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/SearchByUkprnViewModel.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/SelectApplicationRouteViewModel.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/UkprnSearchResultsViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/Controls/_ComplexRadio.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/Controls/_Radio.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/ConfirmOrganisation.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/EnterApplicationUkprn.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/SelectApplicationRoute.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/TermsAndConditions.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/TermsAndConditionsNotAgreed.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnNotFound.cshtml
Labels: RoATP

#141 On 1737 show user org in header
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/OrganisationSearchController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/UsersController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/AuthorizationStartupExtensions.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/UserService.cs
  src/SFA.DAS.ApplyService.Web/Views/Shared/_Layout.cshtml
  src/SFA.DAS.ApplyService.Web/wwwroot/stylesheets/application.css
Labels: OnbothServices, Tested

#210 Apr 523 service unavailable pages
  src/SFA.DAS.ApplyService.Domain/CompaniesHouse/CompaniesHouseSummary.cs
  src/SFA.DAS.ApplyService.Domain/Ukrlp/UkrlpLookupResults.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/ApiResponse.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/UkrlpProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/CharityCommissionController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/CompaniesHouseController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/RoatpApplicationController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/UkrlpLookupController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/CharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IUkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/ServiceUnavailableException.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/UkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Ukrlp/UkprnLookupResponse.cs
  src/SFA.DAS.ApplyService.InternalApi/SFA.DAS.ApplyService.InternalApi.csproj
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ICharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IUkrlpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/UkrlpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityCommissionNotAvailable.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompaniesHouseNotAvailable.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkrlpNotAvailable.cshtml
Labels: RoATP

#198 ON 1208 user management
  src/SFA.DAS.ApplyService.Application/Organisations/IOrganisationRepository.cs
  src/SFA.DAS.ApplyService.Application/Users/CreateNewContact/CreateNewContactHandler.cs
  src/SFA.DAS.ApplyService.Application/Users/CreateNewContact/CreateNewContactRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/IContactRepository.cs
  src/SFA.DAS.ApplyService.Application/Users/RemoveContact/RemoveContactFromOrganisationRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/UpdateContactOrgId/UpdateContactOrganisationIdHandler.cs
  src/SFA.DAS.ApplyService.Application/Users/UpdateContactOrgId/UpdateContactOrganisationIdRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/UpdateSignInId/UpdateSignInRequestHandler.cs
  src/SFA.DAS.ApplyService.Data/ContactRepository.cs
  src/SFA.DAS.ApplyService.Data/OrganisationRepository.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/SFA.DAS.ApplyService.InternalApi.Types.csproj
  src/SFA.DAS.ApplyService.InternalApi.Types/SignInCallback.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/AccountController.cs
  src/SFA.DAS.ApplyService.InternalApi/Validators/Account/DfeSignInCallbackValidator.cs
  src/SFA.DAS.ApplyService.Web/Controllers/AccountController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/UsersApiClient.cs
Labels: OnbothServices, Ready for Release

#212 Apr 499 view organisation details
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityCommissionSummary.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompaniesHouseSummary.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/ConfirmOrganisation.cshtml
Labels: RoATP

#214 Apr 514 companies house validation
  src/SFA.DAS.ApplyService.Web.UnitTests/CompaniesHouseValidatorTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Validators/CompaniesHouseValidator.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompanyNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/ParentCompanyCheck.cshtml
Labels: RoATP

#215 Apr 508 handle multiple charity registration events
  src/SFA.DAS.ApplyService.InternalApi.UnitTests/CharityCommissionApiTests.cs
  src/SFA.DAS.ApplyService.InternalApi/Connected Services/CharityCommissionService/Entities/Charity.cs
Labels: RoATP, Tested

#216 APR-563 updated header in UKPRN not found shutter page
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnNotFound.cshtml
Labels: RoATP, Tested

#219 ON-2068 Allow Existing EPAO to apply for multiple standards
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
Labels: Tested

#203 On 1905 enable inprocess hosting
  src/SFA.DAS.ApplyService.DfeSignIn/SFA.DAS.ApplyService.DfeSignIn.csproj
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/SFA.DAS.ApplyService.InternalApi.IntegrationTests.csproj
  src/SFA.DAS.ApplyService.InternalApi.UnitTests/SFA.DAS.ApplyService.InternalApi.UnitTests.csproj
  src/SFA.DAS.ApplyService.InternalApi/SFA.DAS.ApplyService.InternalApi.csproj
  src/SFA.DAS.ApplyService.InternalApi/web.config
  src/SFA.DAS.ApplyService.Web/SFA.DAS.ApplyService.Web.csproj
  src/SFA.DAS.ApplyService.Web/web.config
Labels: Ready for Release

#211 ON-1921 Added standard information to apply stage 2 questions and submitted
  src/SFA.DAS.ApplyService.Application/Apply/UpdateApplicationData/UpdateApplicationDataHandler.cs
  src/SFA.DAS.ApplyService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.ApplyService.Database/UpdateApplicationDataStandards-ON-1921.sql
  src/SFA.DAS.ApplyService.Domain/Entities/Application.cs
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/PageViewModel.cs
  src/SFA.DAS.ApplyService.Web/Controllers/StandardController.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/SubmittedViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/Index.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Application/Pages/MultipleAnswers.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Application/Submitted.cshtml
Labels: Tested

#217 Apr 524 charity commission validation
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityNotActive.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompanyNotFound.cshtml
Labels: RoATP, TestInProgress

#218 APR-550 tech debt: remove UKRLP API, this has moved to RoATP service
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/RoatpApiTests.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/UkrlpLookupController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IUkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/UkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/UkrlpSoapSerializer.cs
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
Labels: RoATP

#204 ON-1917 - Clean Reference API org details
  src/SFA.DAS.ApplyService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/ReferenceDataOrganisationProfile.cs
Labels: Tested

#220 ON-1993 Update content on declatation and submitted views and an apply questi…
  src/SFA.DAS.ApplyService.Web/Views/Application/Declaration.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Application/Submitted.cshtml
  src/WorkflowLatest.sql
Labels: Ready for Release, Tested

#166 ON-1663 Added AAD auth to Internal API and token generation to Web.
  src/SFA.DAS.ApplyService.Configuration/ApplyConfig.cs
  src/SFA.DAS.ApplyService.Configuration/IApplyConfig.cs
  src/SFA.DAS.ApplyService.Configuration/InternalApiConfig.cs
  src/SFA.DAS.ApplyService.InternalApi.UnitTests/ControllerAuthorizeAttributeTests.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/AccountController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/EmailTemplateController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/FileController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/FinancialController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/OrganisationController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/OrganisationSearchController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/QuestionOptionsController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/ReviewController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/StandardSearchController.cs
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/OrganisationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/OrganisationSearchApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/TokenService.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/UsersApiClient.cs
  src/SFA.DAS.ApplyService.Web/SFA.DAS.ApplyService.Web.csproj
Labels: Ready for Release, Tested

#228 Apr 515 roatp validation
  src/SFA.DAS.ApplyService.Domain/Roatp/OrganisationRegisterStatus.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/RoatpApiTests.cs
  src/SFA.DAS.ApplyService.InternalApi.UnitTests/RoatpApplicationControllerTests.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/RoatpApplicationController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/RoatpStatusValidatorTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Validators/IRoatpStatusValidator.cs
  src/SFA.DAS.ApplyService.Web/Validators/RoatpStatusValidator.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/IneligibleToJoin.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/SelectApplicationRoute.cshtml
Labels: RoATP, Tested

#229 Apr 534 remove company charity date validation
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/ProviderHistoryValidatorTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Validators/ProviderHistoryValidator.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityCommissionNotAvailable.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompaniesHouseNotAvailable.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompanyNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/ConfirmOrganisation.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/IneligibleToJoin.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/InvalidCharityFormationHistory.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/InvalidCompanyTradingHistory.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/TermsAndConditions.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnActive.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkrlpNotAvailable.cshtml
Labels: RoATP, Tested
