Repository SkillsFundingAgency/das-apply-service, pull requests merged in 2019-06, with the labels that each got.

#148 On 1173 secondary app submissions v2
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/ApplicationSubmitHandlerTests/ApplicationSubmitHandlerTestsBase.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/ApplicationSubmitHandlerTests/When_multiple_applications_exist.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/ApplicationSubmitHandlerTests/When_submitting.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/ReturnRequestHandlerTests/When_returning_sequence_2_with_approve.cs
  src/SFA.DAS.ApplyService.Application/Apply/IApplyRepository.cs
  src/SFA.DAS.ApplyService.Application/Apply/Review/Return/ReturnRequestHandler.cs
  src/SFA.DAS.ApplyService.Application/Apply/Submit/ApplicationSubmitHandler.cs
  src/SFA.DAS.ApplyService.Application/Apply/Submit/ApplicationSubmitRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/GetOrganisationContacts/GetOrganisationContactsHandler.cs
  src/SFA.DAS.ApplyService.Application/Users/GetOrganisationContacts/GetOrganisationContactsRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/IContactRepository.cs
  src/SFA.DAS.ApplyService.Data/ApplyRepository.cs
  src/SFA.DAS.ApplyService.Data/ContactRepository.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/AccountController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Views/Application/NotSubmitted.cshtml
Labels: OnbothServices, Public-Beta, Tested

#185 ON-1862 Added endpoint and handler for removing a contact from an organisation
  src/SFA.DAS.ApplyService.Application/Users/IContactRepository.cs
  src/SFA.DAS.ApplyService.Application/Users/RemoveContact/RemoveContactFromOrganisationRequest.cs
  src/SFA.DAS.ApplyService.Data/ContactRepository.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/AccountController.cs
Labels: Manage Users

#191 On 1859 invite user to organisation
  src/SFA.DAS.ApplyService.Application/Users/CreateNewContact/CreateNewContactHandler.cs
  src/SFA.DAS.ApplyService.Application/Users/CreateNewContact/CreateNewContactRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/UpdateContactOrgId/UpdateContactOrganisationIdHandler.cs
  src/SFA.DAS.ApplyService.Application/Users/UpdateContactOrgId/UpdateContactOrganisationIdRequest.cs
  src/SFA.DAS.ApplyService.Application/Users/UpdateSignInId/UpdateSignInRequestHandler.cs
  src/SFA.DAS.ApplyService.Data/ContactRepository.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/SFA.DAS.ApplyService.InternalApi.Types.csproj
  src/SFA.DAS.ApplyService.InternalApi.Types/SignInCallback.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/AccountController.cs
  src/SFA.DAS.ApplyService.InternalApi/Validators/Account/DfeSignInCallbackValidator.cs
  src/SFA.DAS.ApplyService.Web/Controllers/AccountController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/UsersApiClient.cs
Labels: Manage Users

#189 On 1637 changes to search result page
  src/SFA.DAS.ApplyService.InternalApi.Types/OrganisationSearchResult.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/AssessorServiceOrganisationProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/OrganisationSearchController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/AssessorServiceApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/AssessorService/OrganisationSummary.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/AssessorService/PaginatedList.cs
  src/SFA.DAS.ApplyService.Web/Controllers/OrganisationSearchController.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/OrganisationSearchViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/OrganisationSearch/Results.cshtml
  src/SFA.DAS.ApplyService.Web/wwwroot/stylesheets/application.css
Labels: OnbothServices, Tested

#174 ON-1732 - Updated Apply EmailTemplate Ids used
  src/SFA.DAS.ApplyService.Database/Script.PostDeployment1.sql
Labels: Tested

#168 ON-1835 - Validate sequence before submitting application
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Views/Application/Feedback.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Application/Sequence.cshtml
Labels: Tested

#164 APR-443 add API clients for UKRLP and RoATP
  src/SFA.DAS.ApplyService.Configuration/ApplyConfig.cs
  src/SFA.DAS.ApplyService.Configuration/IApplyConfig.cs
  src/SFA.DAS.ApplyService.Configuration/IClientApiAuthentication.cs
  src/SFA.DAS.ApplyService.Configuration/RoatpApiAuthentication.cs
  src/SFA.DAS.ApplyService.Configuration/UkrlpApiAuthentication.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/RoatpApiTests.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/UkrlpProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/Connected Services/UKRLP/ConnectedService.json
  src/SFA.DAS.ApplyService.InternalApi/Connected Services/UKRLP/Reference.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IRoatpTokenService.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IUkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpTokenService.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/UkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/MappingStartup.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Roatp/DuplicateCheckResponse.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Roatp/OrganisationReapplyStatus.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Roatp/OrganisationStatus.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Roatp/ProviderType.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Ukrlp/ProviderDetails.cs
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
Labels: Do Not Merge

#180 Apr 445 check for ukprn on ukrlp roatp
  src/SFA.DAS.ApplyService.Domain/Roatp/ApplicationDetails.cs
  src/SFA.DAS.ApplyService.Domain/Roatp/ApplicationRoute.cs
  src/SFA.DAS.ApplyService.Domain/Roatp/OrganisationRegisterStatus.cs
  src/SFA.DAS.ApplyService.Domain/Ukrlp/ProviderDetails.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/RoatpApiTests.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi.UnitTests/RoatpApplicationControllerTests.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/RoatpProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/UkrlpProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/RoatpApplicationController.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/UkrlpLookupController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/IUkrlpSoapSerializer.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpTokenService.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/UkrlpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/UkrlpSoapSerializer.cs
  src/SFA.DAS.ApplyService.InternalApi/MappingStartup.cs
  src/SFA.DAS.ApplyService.InternalApi/Models/Ukrlp/ProviderQueryResponse.cs
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/UsersController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IRoatpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IUkrlpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/UkrlpApiClient.cs
  src/SFA.DAS.ApplyService.Web/Validators/UkprnValidator.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/SearchByUkprnViewModel.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/SelectApplicationRouteViewModel.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/UkprnSearchResultsViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/EnterApplicationUkprn.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/SelectApplicationRoute.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnActive.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnNotFound.cshtml
  src/SFA.DAS.ApplyService.sln
Labels: RoATP

#183 Apr 446 determine verification required
  src/SFA.DAS.ApplyService.Domain/Ukrlp/ProviderDetails.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/RoatpApiTests.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ICharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ICompaniesHouseApiClient.cs
Labels: RoATP

#187 APR-448 lookup details from Companies House API
  src/SFA.DAS.ApplyService.Domain/CompaniesHouse/CompaniesHouseSummary.cs
  src/SFA.DAS.ApplyService.Domain/Roatp/ApplicationDetails.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CompaniesHouse/PersonWithSignificantControl.cs
  src/SFA.DAS.ApplyService.InternalApi/AutoMapper/CompaniesHouseProfile.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/CompaniesHouseController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/RoatpApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/MappingStartup.cs
  src/SFA.DAS.ApplyService.InternalApi/Startup.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/CompaniesHouseProfile.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ICompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.Web/MappingStartup.cs
  src/SFA.DAS.ApplyService.Web/SFA.DAS.ApplyService.Web.csproj
  src/SFA.DAS.ApplyService.Web/Startup.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/UkprnSearchResultsViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompanyNotActive.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnFound.cshtml
Labels: RoATP

#188 APR-450 lookup against charity commission API
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CharityCommission/Charity.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/CharityCommissionController.cs
  src/SFA.DAS.ApplyService.InternalApi/Infrastructure/CharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.InternalApi/MappingStartup.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ICharityCommissionApiClient.cs
  src/SFA.DAS.ApplyService.Web/SFA.DAS.ApplyService.Web.csproj
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/UkprnSearchResultsViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityCommissionSummary.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityNotActive.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompaniesHouseSummary.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnFound.cshtml
Labels: RoATP

#190 Apr 485 store organisation details
  src/RoatpWorkflow.sql
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/StartApplicationHandlerTestsBase.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_any_organisation_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_epao_organisation_with_due_financials_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_epao_organisation_with_due_financials_today_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_epao_organisation_with_due_financials_tomorrow_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_epao_organisation_with_due_financials_yesterday_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_epao_organisation_with_exempt_financials_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_epao_organisation_with_good_financials_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_hei_organisation_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_non_epao_organisation_with_exempt_fha_orgtype_starts_application.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/StartApplicationHandlerTests/When_non_epao_organisation_with_required_fha_orgtype_starts_application.cs
  src/SFA.DAS.ApplyService.Application/Apply/StartApplicationHandler.cs
  src/SFA.DAS.ApplyService.Application/Apply/StartApplicationRequest.cs
  src/SFA.DAS.ApplyService.Database/Script.PostDeployment1.sql
  src/SFA.DAS.ApplyService.Domain/Apply/ApplicationTypes.cs
  src/SFA.DAS.ApplyService.Domain/CharityCommission/CharityCommissionSummary.cs
  src/SFA.DAS.ApplyService.Domain/CompaniesHouse/CompaniesHouseSummary.cs
  src/SFA.DAS.ApplyService.Domain/Entities/Organisation.cs
  src/SFA.DAS.ApplyService.Domain/Roatp/ApplicationDetails.cs
  src/SFA.DAS.ApplyService.Domain/Ukrlp/ProviderDetails.cs
  src/SFA.DAS.ApplyService.InternalApi.IntegrationTests/UkrlpLookupTests.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/CreateOrganisationRequest.cs
  src/SFA.DAS.ApplyService.InternalApi.Types/StartApplyRequest.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/ApplicationControllerTests/When_POST_to_StartApplication.cs
  src/SFA.DAS.ApplyService.Web.UnitTests/Controllers/RoatpApplicationPreambleControllerTests.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/CharityCommissionProfile.cs
  src/SFA.DAS.ApplyService.Web/AutoMapper/RoatpCreateOrganisationRequestProfile.cs
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/OrganisationSearchController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/Roatp/RoatpApplicationPreambleController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/StandardController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/UsersController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/CompaniesHouseApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IOrganisationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/OrganisationApiClient.cs
  src/SFA.DAS.ApplyService.Web/MappingStartup.cs
  src/SFA.DAS.ApplyService.Web/Startup.cs
  src/SFA.DAS.ApplyService.Web/ViewModels/Roatp/UkprnSearchResultsViewModel.cs
  src/SFA.DAS.ApplyService.Web/Views/Application/Declaration.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CharityCommissionSummary.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/CompanyNotFound.cshtml
  src/SFA.DAS.ApplyService.Web/Views/Roatp/UkprnFound.cshtml
  src/WorkflowLatest.sql
Labels: RoATP

#200 ON-1969 Shows all standards which have been created by any user for an organsisation when applying for a new standard.
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/GetApplicationsHandlerTests/GetApplicationsHandlerTestsBase.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/GetApplicationsHandlerTests/When_applications_created_by_organisation_are_requested.cs
  src/SFA.DAS.ApplyService.Application.UnitTests/Handlers/GetApplicationsHandlerTests/When_applications_created_by_user_are_requested.cs
  src/SFA.DAS.ApplyService.Application/Apply/GetApplications/GetApplicationsHandler.cs
  src/SFA.DAS.ApplyService.Application/Apply/GetApplications/GetApplicationsRequest.cs
  src/SFA.DAS.ApplyService.Application/Apply/IApplyRepository.cs
  src/SFA.DAS.ApplyService.Data/ApplyRepository.cs
  src/SFA.DAS.ApplyService.InternalApi/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Controllers/ApplicationController.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/ApplicationApiClient.cs
  src/SFA.DAS.ApplyService.Web/Infrastructure/IApplicationApiClient.cs
Labels: Ready for Release
